### Symfony ###
APP_ENV=dev
APP_SECRET=6eba184e159b6f0487e76692db80bcb9


APP_SHARE_DIR=var/share

### Routing ###
DEFAULT_URI=http://localhost

### Database ###
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=
DB_USER=root
DB_PASSWORD=root
DB_SERVER_VERSION=8.0
DB_CHARSET=utf8mb4



DATABASE_URL="${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?serverVersion=${DB_SERVER_VERSION}&charset=${DB_CHARSET}"

